/* shared css styles */
/* work sans font from google font */
<style>
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
</style>

* {
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}
.primary-bt{
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: .5rem;
    background: #FF900E;
    width: 180px;
    height: 64px;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 3.125rem 15rem 2.8rem 15rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .navigation {
    display: flex;
    text-align: center;
    line-height: 26px; /* 144.444% */
    width: 30rem;
}
nav h3{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 700;
}

nav li a{
    color: var(--Dark-02, #424242);
    text-decoration:none;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 500;
}
.navigation li{
    list-style: none;
    margin-right: 4rem;
}
.banner{
    text-align: center;
}
.banner-contant{
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.banner-img{
    margin-top: 3rem;
    size: 100%;
}

/* main section style */

main {
    max-width: 1440px;
    margin: 5.2rem auto;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 8px;
}
.teams-content{
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}
/* teams-content-title */
.teams-content-title{
    font-size: 2.9rem;
}
.teams-content-title .quick-list {
    color:#727272;
    font-weight: 500;
}
.teams-content-title .of-our{
    color:#131313;
    font-weight: 700;
}
.teams-content-title .teams-title-features{
    color: #FF900E;
    font-weight: 700;
}
.teams-content-description{
    color:#727272;
    font-weight: 400;
    line-height: 1.5rem;   
}
/* features section */
.features{
    display: flex;
    margin-top: 8rem;
    margin-bottom: 11rem;
 
}
.features-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 0.5rem solid #FF900E;
    padding-left: 1.3rem;
}
.features-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem; /* 162.5% */
    width: 36.6rem;
}
.features-content .card{
    width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 1rem 2rem 1rem 1rem;
    margin-bottom: 1.25rem;
}
.features-card-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.feature-image{
    margin-left: 146px;
}
.feature-image img{
    width: 708px;
    height: 982px;
}
.Experience-of-10years{
    width: 21.3rem;
    height: 12.5rem;
    border-radius: 8px;
    background: #FF900E;
    padding: 46px 42px 45px 42px;
    position: relative;
    bottom: 6.25rem;
    right: 5.75rem;
    
}
.ten-years{
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px; /* 107.692% */
    margin-bottom: 0px;
}
.experience{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

/* some facts section */
.some-facts{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}
.some-facts-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}    
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 2.8rem 2.2rem 3.8rem 2.2rem;
}
.facts-card-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 0.6rem;
    margin-bottom: 0rem;
}
.facts-card-container .card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0rem;
}
/* sponsors section style */
.sponsors{
    text-align: center;
    margin-top: 11.25rem;
}
.sponsors-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
}
.sponsors-description{
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 1.5rem;
    margin-bottom: 3.1rem;
}
.sponsors-image-container{
    display: flex;
    justify-content: space-evenly;
}
.sponsors-image-container img{
    width: 10.4rem;
    height: 3.1rem;
}

footer{
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    margin: 8rem auto;
}
.footer-text{
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 2.5rem 25rem;
}